/*

Lovingly crafted by iBacor.com 2016

*/

@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Roboto:100italic,100,300italic,300,400italic,400,500italic,500,700italic,700,900italic,900);

body {
	font-family: Roboto;
	color: #333;
}

.main .box {
	padding: 0px
}

a, a:hover, a:active, a:focus {
   outline: 0;
   text-decoration: none
}

header {
	padding: 10px;
	background: #fff;
	height: 55px;
	position: fixed;
	width: 100%;
	z-index: 9999999999999;
	box-shadow: 0 0 5px rgba(57,70,78,.2);
	
}

header .fa-bars,
header .fa-times,
header .fa-play,
header .fa-floppy-o {
    font-size: 2em;
	cursor: pointer
}

header .fa-bars,
header .fa-times {
	display: none;
	color: #ddd;
}

header .fa-play  {
    color: #6DD9A3;
	margin-right: 30px
}

header .fa-floppy-o  {
    color: #FF99CC;
}

header .fa-play:hover,
header .fa-floppy-o:hover {
	opacity: 0.5;
}

header a.logo {
	color: #333;
	font-size: 2em;
	margin-right: 30px
}

header .akun a.btn {
	background: #75BAFF !important;
	border-color: #588BBF !important;
}

header .akun img {
	width: 40px;
	border-radius: 50%
}

.main {
	position: absolute;
	top: 55px
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-left: 5px
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #333;
}

input:focus + .slider {
  box-shadow: 0 0 1px #333;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* codingdong */
#codingdong {
	display:block;
	margin: 0px;
	padding: 0px;
}

#codingdong .tempat {
	background-color: #e7e3ff;
	width: calc(100% - 200px);
	margin: 0px;
	padding: 0px;
	
	position: fixed;
	top: 55px;
	bottom: 0;
}

#codingdong .splitter_container > .splitter_panel > :not(.splitter_container) {
	overflow: hidden;
}

#codingdong .CodeMirror,
#codingdong #result,
#codingdong #result2 {
	width: 100%;
	border: none;
	height: 100%;
	margin: 0px;
	line-height: 1.5em;
	letter-spacing: 1px
}

#codingdong .CodeMirror,
#codingdong #result {
	background: #f5f5f5
}

#codingdong #result2 {
	background: #fff
}

#codingdong #result,
#codingdong #result2 {
	padding: 10px;
	resize: none;
}

#codingdong a.opencdn {
	background: #101010;
	font-weight: bold;
	font-size: 1.4em;
	color: #bbb;
	padding: 0px 5px 0px 5px;
	border-radius: 3px;
}

#codingdong .kode span.fa-spinner {
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 9999999999999;
	color: #ddd;
	display: none
}

#codingdong .kode span.cog {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 9999999999999;
	color: #aaa;
	text-transform: uppercase;
}

#codingdong .kode span.cog a {
	text-align: center;
	font-size: 11px;
	border-radius: 20px;
	color: #aaa;
	line-height: 23px;
	padding: 0 7px;
}

#codingdong .kode span.cog a:hover {
	border: 1px solid #1C90F3;
	color: #1C90F3;
	text-decoration: none;
}

#codingdong span#add , span#remove {
	font-weight: bold;
	font-size: 2em;
	color: #bbb;
	padding: 0px 5px 0px 5px;
	border-radius: 3px;
	cursor: pointer;
}

#codingdong .modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999999999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

#codingdong input.cdn-input {
	display: inline-block;
	width: 80%;
	color: #222;
	background: #fff;
	border: 1px solid #ddd;
	padding: 5px;
}

#codingdong .modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

#codingdong .modalDialog > div {
	width: auto;
	max-width: 400px;
	min-width: 250px;
	position: relative;
	margin: 10% auto;
	padding: 20px;
	background: #fff;
	text-align: center;
}

#codingdong #cdn {
	margin-bottom: 50px;
}

#codingdong .close {
    background: #339452;
    color: #fff;
    line-height: 25px;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 700;
	position: absolute;
	bottom: 0px;
	left: 0px;
	display: block;
	opacity: 1;
	width: 100%
}

#codingdong .close:hover {
	opacity: 0.5;
}

/* menur */
.menur-navbar-left {
  position: fixed;
  background-color: #fff;
  width: 200px;
  top: 55px;
  bottom: 0;
  overflow-y: auto;
  z-index: 999;
  padding-top: 5px;
  -webkit-transition: left 300ms;
  -o-transition: left 300ms;
  transition: left 300ms;
  border-right: 1px solid #ddd
}
.menur-navbar-left input,
.menur-navbar-left select {
  width: 95%;
  margin: 5px;
  background: #f5f5f5
}
.menur-navbar-left.dnl-hidden {
  left: -200px;
}
.menur-navbar-left.dnl-hidden.dnl-show {
  left: 0;
}
.menur-navbar-left .dnl-nav-title {
	letter-spacing: 1px;
  padding: 10px 5px 0px 5px;
  font-weight: bold
}
.menur-navbar-left .pos {
	padding: 0px 5px 0px 5px;
	color: #aaa
}
.menur-navbar-left footer {
  text-align: center;
	position: absolute;
	bottom: 10px;
	width: 170px;
	font-size: 12px
}
.menur-navbar-left .hr {
  border-bottom: 1px solid #ddd;
  padding: 5px;
}
.menur-navbar-left .dnl-nav {
  padding-left: 0;
  list-style: none;
}
.menur-navbar-left .dnl-nav ul {
  padding-left: 0;
  list-style: none;
}
.menur-navbar-left .dnl-nav li {
  position: relative;
}

/* Content wrap
/ -------------------------------------------------- */
.content-wrap {
  position: relative;
}
.content-wrap.dnl-visible {
  margin-left: 200px;
}
.content-wrap.dnl-hidden {
  margin-left: 0;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.content-wrap.dnl-hidden.dnl-push {
  margin-left: 200px;
}
.content-wrap.content-opacity.dnl-overlay,
.content-wrap.content-opacity.dnl-push {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

@media (max-width: 767px) {
	header .fa-bars,
	header .fa-times {
		display: inline
	}
	.menur-navbar-left.dnl-visible {
		left: -200px;
	}
	.menur-navbar-left.dnl-visible.dnl-show {
		left: 0;
	}
	.content-wrap.dnl-visible {
		margin-left: 0;
		-webkit-transition: all 300ms;
		-o-transition: all 300ms;
		transition: all 300ms;
	}
	.content-wrap.dnl-visible.dnl-push {
		-webkit-transform: translate(200px, 0);
		-ms-transform: translate(200px, 0);
		-o-transform: translate(200px, 0);
		transform: translate(200px, 0);
	}
	.content-wrap.dnl-hidden.dnl-push {
		margin-left: 0;
		-webkit-transform: translate(200px, 0);
		-ms-transform: translate(200px, 0);
		-o-transform: translate(200px, 0);
		transform: translate(200px, 0);
	}
	#codingdong .tempat {
		width: 100%;
	}
}
